<div class="datepicker-months" style="display: block">
<table class="table-condensed">
  <thead>
    <tr>
      <th class="prev" ng-click="move(-1)"><i class="fa fa-chevron-left"></i></th>
      <th colspan="5" class="datepicker-switch" ng-click="toggleMode()">{{title}}</th>
      <th class="next" ng-click="move(1)"><i class="fa fa-chevron-right"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="7">
        <span ng-repeat="dt in dates track by dt.date" class="month" ng-class="{disabled: dt.disabled, active: dt.selected, today: dt.current, 'in-range': dt.inRange}" ng-click="!dt.disabled && select(dt.date)">{{dt.label}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>